
body{
    font-family: 'Fredoka', sans-serif;
    background-color: #232323;
    color: white;
    font-size: 16px;
    letter-spacing: .2rem;
}

h1{
    text-align: center;
    margin-bottom: 5%;

}

button{ 
    font-family: 'Fredoka', sans-serif;
    background-color: #70F8BA;
    color: #232323;
    padding:10px 50px 10px 50px;
    border-radius:56px;
    border: none;
    font-size: 1rem; 
    margin-bottom: 5%;
}

.info{
    background-color: #171717;
    border-radius: 56px;
    /*width: 50%;*/
    width: 575px;
    height: 401px;
    border: none;
    display: inline-block;

}
input{
    color: #232323;
    padding:10px 30px 10px 50px;
    border: none;
    height: 30px;
    width: 70%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}
