p,ul{
    font-family: fredoka one;
    font-size: 2em;
    list-style-type: none;  
}

body{
    background-color: #232323;
    background-image: url(./image/FIN2.png);
    background-repeat: no-repeat
    
}

.Horaires{
    display: flex;
    flex-direction: column;
    align-items: start;
    float: left;
    margin-left: 3%;

}

.RS{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content:start;
    margin-right: 3%;
}

.alcool{
margin-top: 10%;
text-align: center;

}

footer{
    margin-top: 22%;
}